HARBOR_APP_NAME=Harbor
HARBOR_APP_VERSION=0.1.1a0
HARBOR_ENVIRONMENT=dev
HARBOR_API_V1_PREFIX=/api/v1
HARBOR_HOST=127.0.0.1
HARBOR_PORT=8000
HARBOR_RELOAD=true
HARBOR_LOG_LEVEL=INFO
HARBOR_DATA_ROOT=data
HARBOR_VAR_ROOT=var
HARBOR_POSTGRES_DSN=
